 .dropdown-month-navigation {
    position: relative;
    display: flex;
    width: 200px;
    margin: 0px 10px;
    border: 1px solid rgb(216, 216, 216);
    color: black;
    background-color: white;
    border-radius: 6px;
    white-space: nowrap;
    font-size: 14px;
    line-height: 18px;
    height: 28px;
  }