.labeled-input {
  position: relative;
  border-radius: 8px;
  border: 2px solid #959595;
  padding: 0px 28px;
  background: #fff;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  label {
    z-index: 1;
    position: absolute;
    color: #959595;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: calc(50%);
    left: 28px;
    padding: 0;
    height: 2px;
    display: flex;
    align-items: center;
    transition: all 250ms ease-in-out;
    -webkit-user-select: none;
    user-select: none;
    &[data-is-shrinked='true'] {
      top: -2px;
      left: 10px;
      font-weight: 600;
      font-size: 12px;
      padding: 0px 5px;
    }
  }
  input {
    z-index: 2;
    position: absolute;
    top: calc(50% - 12px);
    height: 24px;
    width: calc(100% - 56px);
    border: none;
    outline: transparent;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #959595;
    padding: 0;
    cursor: pointer;
    &:focus {
      outline: transparent;
      cursor: text;
    }
  }
  &[data-has-error='true'] {
    border-color: #f34d1b;
    label {
      color: #e17959;
    }
  }
  .error-message {
    position: absolute;
    margin: 0;
    top: calc(100% + 5px);
    left: 5px;
    color: #f34d1b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    transition: all 200ms ease-in-out;
  }
}
