.multicalendario .eje-vertical .lista-anuncios .anuncio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgb(235, 235, 235);
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
}

.multicalendario .eje-vertical .lista-anuncios .anuncio:hover {
    background-color: rgb(240, 240, 240);
  }

.multicalendario .eje-vertical .lista-anuncios .anuncio img {
  height: 32px;
  width: 40px;
  border-radius: 6px;
  margin: 0 8px;
}

.multicalendario .eje-vertical .lista-anuncios .anuncio p {
  margin: 0;
  color: #484848;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
}
