.trc-multiple-joined-buttons-bar {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.trc-multiple-joined-buttons-bar button {
  border: var(--primary-color) solid 2px;
  border-left-width: 1px;
  border-right-width: 1px;
  color: var(--primary-color);
  background-color: rgb(255, 255, 255);
  padding: 5px 15px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.trc-multiple-joined-buttons-bar button:hover {
  background-color: rgb(240, 240, 240);
}

.trc-multiple-joined-buttons-bar button.selected {
  background-color: var(--primary-color);
  color: white;
}

.trc-multiple-joined-buttons-bar button.left-side-button {
  border-left-width: 2px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.trc-multiple-joined-buttons-bar button.right-side-button {
  border-right-width: 2px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
