.visualizador-informacion .info-seleccion {
  padding: 0 20px;
}

.visualizador-informacion .info-seleccion p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: left;
  color: #484848;
}

.visualizador-informacion .info-seleccion .div-fechas-seleccionadas,
.visualizador-informacion .info-seleccion .div-disponibilidad,
.visualizador-informacion .info-seleccion .div-precio-noche {
  box-sizing: border-box;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.visualizador-informacion
  .info-seleccion
  .div-fechas-seleccionadas
  .inputs-fechas {
  background-color: rgb(255, 255, 255);
  border-color: rgb(235, 235, 235);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
  padding: 10px;
  box-sizing: border-box;
}

.visualizador-informacion
  .info-seleccion
  .div-fechas-seleccionadas
  .inputs-fechas
  input,
.visualizador-informacion .info-seleccion .input-precio-noche input {
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  border: none;
}

.visualizador-informacion
  .info-seleccion
  .div-fechas-seleccionadas
  .inputs-fechas
  input:focus,
.visualizador-informacion .info-seleccion .input-precio-noche input:focus,
.visualizador-informacion .info-seleccion .input-conjunto-reglas select:focus {
  outline: none;
}

.visualizador-informacion
  .info-seleccion
  .div-fechas-seleccionadas
  .inputs-fechas
  svg {
  font-size: 22px;
  color: #484848;
}

.visualizador-informacion .info-seleccion .div-disponibilidad div {
  display: flex;
}

.visualizador-informacion .info-seleccion .div-disponibilidad div label {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: normal;
  color: #484848;
  font-weight: normal;
  cursor: pointer;
}

.visualizador-informacion
  .info-seleccion
  .div-precio-noche
  .input-precio-noche {
  background-color: rgb(255, 255, 255);
  border-color: rgb(235, 235, 235);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 46px;
  padding: 10px;
  box-sizing: border-box;
}

.visualizador-informacion .info-seleccion .input-precio-noche input {
  width: 100%;
}
.visualizador-informacion .info-seleccion .input-precio-noche svg {
  font-size: 22px;
  color: #484848;
}

.visualizador-informacion .info-seleccion .input-conjunto-reglas select {
  background-color: rgb(255, 255, 255);
  border-color: rgb(235, 235, 235);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 46px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}
