.pop-up {
  background-color: rgb(255, 255, 255);
  border-color: rgb(235, 235, 235);
  border-style: solid;
  border-width: 0px 1px 1px;
  box-shadow: rgb(0 0 0 / 15%) 0px 14px 36px 2px;
  padding: 0px;
  position: absolute;
  overflow: auto;
  box-sizing: border-box;
}

.pop-up.pop-up-hidden {
  display: none;
}
