.trc-pop-up {
  background-color: var(--trc-color-surface, rgb(255, 255, 255));
  border-color: var(--trc-color-border-subtle, rgb(235, 235, 235));
  border-style: solid;
  border-width: 0px 1px 1px;
  box-shadow: var(--trc-shadow-lg, rgb(0 0 0 / 15%) 0px 14px 36px 2px);
  padding: 0px;
  position: absolute;
  overflow: auto;
  box-sizing: border-box;
}

.trc-pop-up.pop-up-hidden {
  display: none;
}
