.visualizador-informacion .info-reservacion {
  padding: 0 20px;
  box-sizing: border-box;
}

.visualizador-informacion .info-reservacion h1 {
  margin: 0px;
  overflow-wrap: break-word;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25em;
  color: rgb(72, 72, 72);
  padding-bottom: 2px;
  text-align: left;
}

.visualizador-informacion .info-reservacion .resumen-header {
  margin: 0px;
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
  color: rgb(72, 72, 72);
  text-align: left;
  padding-bottom: 24px;
}

.visualizador-informacion .info-reservacion .huesped {
  display: grid;
  grid-template-areas:
    "n f"
    "b f";
  grid-template-columns: calc(100% - 48px) 48px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.visualizador-informacion .info-reservacion .huesped .nombre {
  grid-area: n;
  margin: 0px;
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375em;
  color: rgb(72, 72, 72);
  text-align: left;
}

.visualizador-informacion .info-reservacion .huesped .botones-huesped {
  grid-area: b;
  text-align: left;
  padding-bottom: 24px;
}

.visualizador-informacion .info-reservacion .huesped .botones-huesped span {
  color: #008489;
  cursor: pointer;
}

.visualizador-informacion
  .info-reservacion
  .huesped
  .botones-huesped
  span:hover {
  text-decoration: underline;
}

.visualizador-informacion .info-reservacion .huesped img {
  grid-area: f;
  height: 48px;
  width: 48px;
  border-radius: 100%;
}

.visualizador-informacion .info-reservacion .llegada,
.visualizador-informacion .info-reservacion .salida,
.visualizador-informacion .info-reservacion .huespedes,
.visualizador-informacion .info-reservacion .cobro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding-top: 24px;
  padding-bottom: 24px;
}

.visualizador-informacion .info-reservacion .llegada p,
.visualizador-informacion .info-reservacion .salida p,
.visualizador-informacion .info-reservacion .huespedes p,
.visualizador-informacion .info-reservacion .cobro p {
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375em;
  color: rgb(72, 72, 72);
  margin: 0;
}
