.trc-modal,
.trc-close-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  z-index: 1010;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: trc-open-modal-animation;
  animation-duration: 500ms;
}

.trc-close-modal {
  animation-name: trc-close-modal-animation;
  animation-duration: 500ms;
}

@keyframes trc-open-modal-animation {
  from {
    backdrop-filter: none;
    opacity: 0;
  }
  to {
    backdrop-filter: blur(10px);
    opacity: 1;
  }
}

@keyframes trc-close-modal-animation {
  from {
    backdrop-filter: blur(10px);
    opacity: 1;
  }
  to {
    backdrop-filter: none;
    opacity: 0;
    display: none;
  }
}
