.blured-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  z-index: 1010;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
  &[data-is-visible="true"] {
    animation-name: modal-appear;
  }
  &[data-is-visible="false"] {
    animation-name: modal-disappear;
  }
}

@keyframes modal-appear {
  0% {
    opacity: 0;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
  100% {
    opacity: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

@keyframes modal-disappear {
  0% {
    opacity: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  100% {
    opacity: 0;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
}

