.menu-container {
  position: fixed;
  z-index: -1;
  top: 0px;
  padding-top: 80px;
  box-sizing: border-box;
  &[data-status="visible"] {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    animation: show-background 300ms ease-in-out forwards;
    ul li {
      opacity: 1;
      transform: translateX(5px);
    }
  }
  &[data-status="hidden"] {
    animation: hide-background 300ms ease-in-out forwards;
    ul li {
      opacity: 0;
      transform: translateX(-110px);
    }
  }
  &[data-status="idle"] {
    width: 0vw;
    height: 0vh;
    background-color: transparent;
    ul li {
      opacity: 0;
      transform: translateX(-110px);
    }
  }
  ul {
    list-style: none;
    padding-inline-start: 0px;
    margin: 0;
    li {
      width: -moz-fit-content;
      width: fit-content;
      transition: all 300ms ease-in-out;
      button {
        border-width: 3px;
        border-style: solid;
        border-color: #959595;
        box-shadow: 3px 3px 4px 1px rgba(90, 90, 90, 0.3);
        color: #959595;
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
        transition: all 100ms ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        margin: 15px 0px;
        border-radius: 50px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        svg {
          min-width: 40px;
          min-height: 40px;
        }
        &:active {
          transform: translate(1px, 1px);
          box-shadow: 1px 1px 2px rgba(90, 90, 90, 0.3);
        }
      }
    }
  }
}

.menu-button {
  position: fixed;
  z-index: 101;
  top: 30px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  border-width: 3px;
  border-style: solid;
  border-color: #959595;
  box-shadow: 3px 3px 4px 1px rgba(90, 90, 90, 0.3);
  color: #959595;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  svg {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 34px;
    color: #0d280b;
    path {
      transition: all 0.3s ease-in-out;
    }
  }
  p {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    color: #0d280b;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  &:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 2px rgba(90, 90, 90, 0.3);
  }
}

@keyframes show-background {
  0% {
    background-color: transparent;
    min-width: 0vw;
  }
  1% {
    background-color: transparent;
    min-width: 100vw;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.3);
    min-width: 100vw;
  }
}

@keyframes hide-background {
  0% {
    background-color: rgba(0, 0, 0, 0.3);
    min-width: 100vw;
  }
  99% {
    background-color: transparent;
    min-width: 100vw;
  }
  100% {
    background-color: transparent;
    min-width: 0vw;
  }
}
