.visualizador-informacion {
  width: 368px;
  height: 100%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: rgb(255, 255, 255);
  border-left: 1px solid rgb(228, 228, 228);
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 16px 5px;
  z-index: 1;
  transition: all 0.5s;
}

.visualizador-informacion-abierto {
  transform: translateX(0px);
}

.visualizador-informacion-cerrado {
  transform: translateX(318px);
}

.visualizador-informacion .boton-abrir-visualizador-informacion {
  position: absolute;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  margin: 10px;
  font-size: 30px;
  transition: all 0.5s;
  cursor: pointer;
}

.visualizador-informacion .boton-abrir-visualizador-informacion-abierto {
  transform: rotateX(0deg);
}

.visualizador-informacion .boton-abrir-visualizador-informacion-cerrado {
  transform: rotateY(180deg);
}
