.list-element {
  position: relative;
  border-bottom: 1px solid rgb(235, 235, 235);
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    background-color: rgb(240, 240, 240);
  }
}


