.stacked-cards {
  position: relative;
  .card {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #e2e2e2;
    transition: all 0.4s ease-out;
    .title {
      width: 100%;
      overflow: hidden;
    }
    .content {
      flex-grow: 1;
      width: 100%;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &[data-is-selectable="true"] {
      cursor: pointer;
      &[data-should-card-rise="true"]:hover {
        transform: translateY(-20px);
      }
    }
  }
}

