body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

body p {
  line-height: normal;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --primary-color: #ec6321;
  --secondary-color: #46ba0d;
  --green-palette-one: #7bce51;
  --green-palette-two: #52ac25;
  --green-palette-three: #3a8117;
  --green-palette-four: #27580f;
  --green-palette-five: #1b3a0c;
  --light-gray: #959595;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: white;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: dimgray;
  min-width: 1.15em;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid dimgray;
  border-radius: 0.15em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.08em) solid rgb(145, 145, 145);
  outline-offset: max(2px, 0.08em);
}

input[type="checkbox"]:disabled {
  color: rgb(165, 165, 165);
  cursor: not-allowed;
}
