@property --angle {
  sintax: "<angle>";
  inherits: false;
  initial-value: 0;
}

@property --color-default {
  sintax: "<color>";
  inherits: false;
  initial-value: white;
}

@property --color-selected {
  sintax: "<color>";
  inherits: false;
  initial-value: #e3f3e3;
}

@property --percentage-default {
  sintax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --percentage-selected {
  sintax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.calendar-date-picker {
  font-family: Arial, Helvetica, sans-serif;
  width: 390px;
  height: 426px;
  color: #959595;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  .title {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  .month-and-year {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding: 10px 0px;
    .month-input {
      width: fit-content;
      background-color: transparent;
      border: transparent;
      text-align: right;
      font-size: 18px;
      color: #959595;
      cursor: pointer;
      &:focus {
        outline: transparent;
      }
    }
  }
  .week-days {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    p {
      width: calc(100% / 7);
      margin: 0px;
      text-align: center;
    }
  }
  .calendar-scrollable-section {
    width: 100%;
    height: 312px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .days-grid {
      width: 100%;
      .days-row {
        width: 100%;
        display: flex;
        align-items: center;
        .day-cell {
          height: 52px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: calc(100% / 7);
          .day {
            --angle: 0deg;
            --color-default: #f3f3f3;
            --color-selected: #b7d4b6;
            --percentage-default: 100%;
            --percentage-selected: 0%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 46px;
            height: 46px;
            margin: 0px;
            border-radius: 23px;
            transition: --angle 1s 1s;
            background: linear-gradient(
              var(--angle),
              var(--color-default) var(--percentage-default),
              var(--color-selected) var(--percentage-selected)
            );
            user-select: none;
            cursor: pointer;
            &.in-month {
              color: var(--medium-gray, #787878);
            }
            &.not-in-month {
              color: #dedede;
              --color-default: white;
            }
            &.selected {
              --angle: 0deg;
              --color-default: #b7d4b6;
              --color-selected: #b7d4b6;
              &.not-in-month {
                --color-default: #e3f3e3;
                --color-selected: #e3f3e3;
              }
            }
            &.check-in {
              --angle: 135deg;
              --color-default: #f3f3f3;
              --percentage-default: 50%;
              --percentage-selected: 50%;
              &.not-in-month {
                --color-default: white;
                --color-selected: #e3f3e3;
              }
            }
            &.check-out {
              --angle: 315deg;
              --color-default: #f3f3f3;
              --percentage-default: 50%;
              --percentage-selected: 50%;
              &.not-in-month {
                --color-default: white;
                --color-selected: #e3f3e3;
              }
            }
          }
        }
      }
    }
  }
}
