.trc-div-wrapper-input-box-with-confirmation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgb(184, 184, 184);
  background-color: rgb(250, 250, 250);
  border-radius: 8px;
  transition: border 0.3s;
}

.trc-div-wrapper-input-box-with-confirmation.focused {
  border-color: var(--primary-color);
}

.trc-div-wrapper-input-box-with-confirmation .input-box-with-confirmation {
  box-sizing: border-box;
  padding: 10px 2ch;
  min-width: 10ch;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  color: dimgray;
  transition: all 0.2s;
}

.trc-div-wrapper-input-box-with-confirmation
  .input-box-with-confirmation::-webkit-inner-spin-button {
  display: none;
}

.trc-div-wrapper-input-box-with-confirmation .input-box-with-confirmation:focus,
.trc-div-wrapper-input-box-with-confirmation .button-for-input-box-with-confirmation:focus {
  outline: none;
}

.trc-div-wrapper-input-box-with-confirmation .input-box-with-confirmation:focus{
    color: rgb(37, 37, 37);
}

.trc-div-wrapper-input-box-with-confirmation .button-for-input-box-with-confirmation {
  position: absolute;
  right: 0px;
  background-color: transparent;
  color: rgb(158, 158, 158);
  width: 32px;
  height: 32px;
  border-radius: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.trc-div-wrapper-input-box-with-confirmation .button-for-input-box-with-confirmation:hover {
  background-color: rgb(241, 241, 241);
  color: var(--primary-color);
}
